<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% flash.each do |message_type, message| %>
  <%= message %><br><br>
  <% end %>

  <h2>Private Events</h2>

  <%= link_to "Home", root_path %>
  <% if signed_in? %>
  <%= link_to current_user.name, User.find(current_user.id) %>
  <%= link_to "Log out", logout_path, method: "delete" %>
  <% else %>
  <%= link_to "Sign in", login_path %>
  <%= link_to "Sign up", new_user_path %>
  <% end %>
  <br><br>
  <%= yield %>
  </body>
</html>
